html {
  scroll-behavior: smooth;
}

::selection {
  color: #fff;
  background-color: #718093;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  color: #404040;
  background: #fff;
}

h1,
h2 {
  color: #718093;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.page_container {
  min-height: 75vh;
  padding-top: 85px;
}

.main_loader {
  text-align: center;
  margin-top: 100px;
}

.page_wrapper {
  padding-top: 85px;
}

a {
  text-decoration: none;
  color: inherit;
}

.bck_b_light {
  background: #7f8fa6;
}

.bck_b_dark {
  background: #353b48;
}

.dialog_alert {
  padding: 51px;
  font-size: 30px;
}

.load_more_container {
  clear: both;
  margin-bottom: 50px;
  border-top: 5px solid #f5f5f5;
  padding-top: 20px;
}

.load_more_container span {
  user-select: none;
  cursor: pointer;
  background: #00a8ff;
  color: #ffffff;
  font-size: 27px;
  padding: 10px 60px;
  display: table;
  margin: 0 auto;
  transition: 240ms;
}

.load_more_container span:hover {
  background: #0092dd;
}

.no_result {
  font-size: 40px;
  color: #7f8fa6;
  text-align: center;
  padding-top: 40px;
  grid-column: 2;
}

.no_result svg {
  display: block;
  margin: 16px auto;
  font-size: 92px;
}

.not_found_container {
  font-size: 70px;
  text-align: center;
  padding-top: 70px;
  color: #dcdde1;
}

.clear:after {
  content: '';
  display: block;
  clear: both;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dcdde1;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dcdde1;
}

/*============================
            FORM
==============================*/

input {
  font-size: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 10px;
  width: 100%;
  margin: 10px 0px 0px 0px;
}

button {
  cursor: pointer;
  text-transform: uppercase;
  padding: 10px;
  background: #e1ddc3;
  color: #2f3640;
  border: 0;
  margin-top: 10px;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
}

.error_label {
  color: #e84118;
  display: block;
  font-size: 15px;
}

textarea {
  width: 100%;
  height: 51px;
  font-size: 15px;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 5px;
  border: 1px solid #d1d1d1;
}

.form_devider {
  border-bottom: 3px solid #7f8fa6;
  margin: 40px 0px;
}

.label_inputs {
  display: inline-block;
  background: #7f8fa6;
  color: #f5f6fa;
  padding: 5px 5px;
}

select {
  font-size: 16px;
  height: 38px;
  border: 1px solid #e9e9e9;
  border-radius: 3px;
  width: 100%;
  margin: 10px 0px 0px 0px;
}

.formBlock {
  margin-bottom: 10px;
}

.form_block_two {
  display: flex;
}

.form_block_two .block {
  flex-grow: 1;
  box-sizing: border-box;
}

.form_block_two .block:nth-child(1) {
  padding-right: 10px;
}

.form_block_two .block:nth-child(2) {
  padding-left: 10px;
}

.form_success {
  background: #4cd137;
  color: #fff;
  padding: 10px;
  display: block;
}

/*============================
            BUTTONS
==============================*/
.link_default {
  text-transform: uppercase;
  padding: 10px;
  display: table;
  background: #e1ddc3;
  margin-top: 10px;
}

.card_link,
.bag_link,
.add_to_cart_link {
  width: 100%;
  border: 1px solid #dcdcdc;
  padding: 5px 10px;
  display: block;
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  color: #a5a18b;
  background: #f8f8f8;
  transition: all 240ms;
  cursor: pointer;
}

.card_link:hover,
.bag_link:hover,
.add_to_cart_link:hover {
  background: #7f8fa6;
  color: #ffff;
}

.add_to_cart_link {
  color: #6b6b6b;
  background: #d9d9d9;
}

.add_to_cart_link svg {
  margin-right: 10px;
}

.action_button {
  text-transform: uppercase;
  padding: 10px;
  display: table;
  background: #e1ddc3;
  margin-top: 10px;
}

.remove_category {
  float: right;
  cursor: pointer;
}

/*============================
        PAGE TOP
==============================*/

.page_top {
  border-bottom: 1px solid #7f8fa6;
  padding: 20px 0px;
  text-transform: uppercase;
}

.page_top svg {
  margin-right: 32px;
  cursor: pointer;
}

/*============================
            HEADER
==============================*/

header {
  position: fixed;
  z-index: 999;
  width: 100%;
  /* border-bottom: 1px solid white; */
}

header .logo {
  font-family: 'Lobster', cursive;
  font-weight: 900;
  color: #fff;
  font-size: 44px;
  padding: 11px 0px;
}

header a {
  margin-left: 20px;
}

header .container {
  display: flex;
}

header .container .left {
  width: 250px;
}

header .container .right {
  flex-grow: 1;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
header .container .right .top,
header .container .right .bottom {
  text-transform: uppercase;
  font-weight: 700;
  text-align: right;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px;
}

header .container .right .top {
  color: #e6e6e6;
  border-bottom: 1px solid #ffffff;
}

header .cart_link {
  display: inline-block;
  position: relative;
}

header .cart_link span {
  position: absolute;
  background: #e84118;
  top: 2px;
  color: #f5f6fa;
  left: -8px;
  border-radius: 50%;
  padding: 2px 7px 2px 7px;
  font-size: 12px;
}

header .log_out_link {
  cursor: pointer;
  display: inline-block;
  margin-left: 20px;
}

/*============================
            FOOTER
==============================*/

footer .logo {
  text-align: center;
  font-family: 'Lobster', cursive;
  font-weight: 900;
  color: #ffffff;
  font-size: 44px;
  padding: 11px 0px;
  border-bottom: 1px solid #bbb;
}

footer .wrapper {
  display: flex;
  color: #d5d5d5;
}

footer h2 {
  color: #a5a8b2;
}

footer .left,
footer .right {
  flex: 1;
}

footer .business_nfo {
  display: flex;
  flex-wrap: wrap;
}

footer .business_nfo .tag {
  flex-grow: 1;
  position: relative;
  width: 50%;
  margin-bottom: 30px;
}

footer .business_nfo .icon {
  position: absolute;
  font-size: 26px;
  top: 10px;
}

footer .business_nfo .nfo {
  padding-left: 40px;
}

/*============================
        FEATURED IMAGE
==============================*/

.featured_container .featured_image {
  position: relative;
  background-size: cover !important;
  background-position: center left !important;
}

.featured_container .featured_action {
  position: absolute;
  top: 45%;
  left: 8%;
}

.featured_container .featured_action .tag {
  background: #7f8fa687;
  color: #f5f6fa;
  padding: 0px 20px;
  text-transform: uppercase;
  display: table;
}

.featured_container .featured_action .tag.title {
  font-size: 70px;
  font-weight: 700;
}

.featured_container .featured_action .tag.low_title {
  font-size: 50px;
  font-weight: 300;
  margin-top: 10px;
}

/*============================
        FEATURED PROMOTION
==============================*/

.home_promotion .home_promotion_img {
  height: 400px;
  background-size: cover !important;
  background-position: top center !important;
  padding: 73px;
  box-sizing: border-box;
}

.home_promotion .tag {
  background: #7f8fa687;
  color: #f5f6fa;
  padding: 0px 20px;
  text-transform: uppercase;
  display: table;
}

.home_promotion .tag.title {
  font-size: 70px;
  font-weight: 700;
  margin: 10px auto;
}

.home_promotion .tag.low_title {
  font-size: 50px;
  font-weight: 300;
  margin-top: 10px;
  margin: 0 auto;
}

.home_promotion .my_link a {
  margin: 10px auto;
}

/*============================
        CARD BLOCK
==============================*/

.card_block {
  margin: 110px 0px;
}

.card_block .title {
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
  margin-bottom: 50px;
}

.card_block_shop .card_item_wrapper {
  width: 100%;
}

.shop_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  width: 94%;
  margin: 32px auto;
}

/*============================
        CARD ITEM
==============================*/

.card_item_wrapper {
  margin: 0;
  padding: 0 20px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card_item_wrapper:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card_item_wrapper .image {
  position: relative;
  width: 100%;
  height: 280px;
  margin: 10px auto;
  overflow: hidden;
  border: 1px solid #dcdde1;
}

.card_item_wrapper .image img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card_item_wrapper .tags {
  position: relative;
  border-bottom: 1px solid #dcdde1;
  width: 200px;
  margin: 0 auto;
  white-space: nowrap;
}

.card_item_wrapper .tags .brand,
.card_item_wrapper .tags .name,
.card_item_wrapper .tags .price {
  text-align: center;
  margin: 5px;
}

.card_item_wrapper .tags .brand {
  font-size: 17px;
  font-weight: 700;
  color: #00a8ff;
}

.card_item_wrapper .tags .name {
  font-size: 21px;
  font-weight: 700;
}

.card_item_wrapper .tags .price {
  font-weight: 300;
  font-size: 21px;
}

.card_item_wrapper .actions {
  display: flex;
  padding: 0 0 10px 0;
}

.card_item_wrapper .actions .button_wrapp:nth-child(1) {
  flex-grow: 1;
  padding-right: 10px;
}

.card_item_wrapper.grid_bars {
  float: none;
  width: 100%;
  display: flex;
  margin-bottom: 16px;
  border: 1px solid #dcdde1;
}

.card_item_wrapper.grid_bars .image {
  width: 30% !important;
  height: 300px;
  border: none;
  margin: 16px auto;
  margin-right: 16px;
  border: 1px solid #dcdde1;
}

.card_item_wrapper.grid_bars .action_container {
  width: 70%;
  flex-grow: 1;
  border: 1px solid #dcdde1;
}

.card_item_wrapper.grid_bars .description {
  clear: both;
  padding: 0px 25px;
  border-top: 1px solid #dcdde1;
}

.card_item_wrapper.grid_bars .tags {
  border-bottom: 0px;
  padding: 5px 20px;
}

.card_item_wrapper.grid_bars .tags .brand {
  font-size: 21px;
}

.card_item_wrapper.grid_bars .tags .brand,
.card_item_wrapper.grid_bars .tags .name {
  float: left;
}

.card_item_wrapper.grid_bars .tags .price {
  float: right;
}

.card_item_wrapper.grid_bars .actions {
  clear: both;
  float: right;
  padding: 10px 20px 0px 15px;
}

/*============================
        SHOP
==============================*/

.shop_wrapper {
  display: flex;
}

.shop_wrapper .left {
  flex-grow: 1;
}

.shop_wrapper .right {
  width: 800px;
}

.collapse_title span {
  text-transform: uppercase;
  font-weight: 700;
}

.grid_btn {
  float: right;
  padding: 10px 10px;
  font-size: 20px;
  color: #b1bbc9;
}

.grid_btn.active {
  color: #535f6d;
  font-weight: bold;
}

.shop_options {
  border-bottom: 1px solid #dcdde1;
  margin: 0px 20px 20px 20px;
}

/*============================
        PRODUCT DETAIL
==============================*/

.product_detail_wrapper {
  display: flex;
  margin-bottom: 140px;
}

.product_detail_wrapper .right {
  flex-grow: 1;
  min-height: 800px;
}

.product_detail_wrapper p {
  font-size: 17px;
  font-family: Arial, Helvetica;
  font-weight: lighter;
}

.product_detail_wrapper .product_tags {
  padding-bottom: 10px;
  border-bottom: 1px solid #dcdde1;
}

.product_detail_wrapper .product_tags .tag {
  display: flex;
  margin-bottom: 20px;
}

.product_detail_wrapper .product_tags .tag svg {
  font-size: 43px;
  color: #7f8fa6;
  width: 50px;
}

.product_detail_wrapper .product_tags .tag .tag_text {
  font-size: 14px;
  text-transform: uppercase;
  color: #404040;
  padding-left: 20px;
  font-weight: 100;
}

.product_detail_wrapper .product_actions .price {
  font-size: 40px;
  font-weight: 300;
}

.product_detail_wrapper .product_actions .cart {
  width: 149px;
}

.user_cart_sum {
  font-size: 20px;
  text-transform: uppercase;
  border: 1px solid #dcdde1;
  background: #f5f6fa;
  padding: 20px 30px;
}

.cart_no_items svg,
.cart_success svg {
  font-size: 130px;
  color: #7f8fa6;
}

.cart_no_items,
.cart_success {
  text-align: center;
  font-size: 28px;
  color: #7f8fa6;
}

.product_detail_wrapper .product_actions {
  padding: 20px 0px 30px 0px;
}

.product_detail_wrapper .product_specifications {
  border-bottom: 1px solid #dcdde1;
  padding-bottom: 30px;
}

.product_detail_wrapper .product_specifications .item strong {
  letter-spacing: 0.5px;
}

.product_detail_wrapper .product_specifications .item {
  font-size: 15px;
  text-transform: uppercase;
  color: #404040;
  margin: 8px auto;
}

.product_detail_wrapper .product_image_container {
  margin-top: 30px;
  padding-right: 70px;
}

.product_detail_wrapper .main_pic {
  box-sizing: border-box;
  cursor: pointer;
}

.product_detail_wrapper .main_pic div {
  width: 100%;
  height: 446px;
  border: 1px solid #dcdde1;
  background-size: contain !important;
  background-position: center center !important;
}

.product_detail_wrapper .main_thumbs {
  margin-top: 10px;
}

.product_detail_wrapper .main_thumbs .thumb {
  cursor: pointer;
  height: 200px;
  width: 50%;
  background-size: cover !important;
  background-position: bottom center !important;
  border: 1px solid #dcdde1;
  box-sizing: border-box;
  float: left;
}

.paypal_button_container {
  margin: 10px 0px;
}

/*=============================
         REGISTER LOGIN
===============================*/

.register_login_container {
  display: flex;
  border: 1px solid #7f8fa6;
  border-top: 5px solid #7f8fa6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 80px 0px 110px 0px;
  padding: 30px;
  min-height: 430px;
}

.register_login_container .left,
.register_login_container .right {
  flex: 1;
}

.register_login_container h2 {
  margin: 20px 0px;
  text-transform: uppercase;
  color: #7f8fa6;
}

.register_login_container p {
  font-weight: 300;
  font-size: 16px;
  width: 90%;
}

/*=============================
         USER
===============================*/

.user_container {
  display: flex;
  margin-bottom: 50px;
  min-height: 700px;
}

/* .user_container .user_left_nav {
  border-right: 1px solid #dcdde1;
} */

.user_container .user_left_nav .links a {
  display: block;
  border-bottom: 1px solid #dcdde1;
  font-size: 20px;
  font-weight: 300;
  padding: 10px 0px;
  width: 250px;
  margin-right: 32px;
}

.user_container .user_right {
  flex-grow: 1;
  padding: 0 0 0 29px;
}

.user_container .user_nfo_panel {
  background: #f7f8f9;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.user_container .user_nfo_panel h1 {
  margin: 0 0 20px 0;
  line-height: 32px;
  text-transform: uppercase;
  font-size: 25px;
}

.user_container .user_nfo_panel span {
  display: block;
  font-size: 18px;
  font-weight: 300;
}

.user_product_block {
  display: flex;
  flex-wrap: wrap;
  background: white;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #dcdde1;
}

.user_product_block .item {
  flex-grow: 1;
}

.user_product_block .item .image {
  height: 125px;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  margin-right: 10px;
}

.user_product_block .item.btn {
  width: 0px;
}

.user_product_block .cart_remove_btn {
  cursor: pointer;
  background: #e84118;
  display: inline-block;
  padding: 5px 10px;
  color: #ffffff;
  margin-top: 50px;
  transition: 240ms;
}

.user_product_block .cart_remove_btn:hover {
  background: #ca3814;
}

/*=============================
         ADMIN
===============================*/

.admin_category_wrapper {
  padding-bottom: 50px;
  border-bottom: 4px solid #dcdde1;
}

.admin_two_column {
  display: flex;
}

.admin_two_column .right {
  flex-grow: 1;
}
.brands_container {
  height: 200px;
  overflow-y: scroll;
  margin-right: 20px;
}

.brands_container .category_item {
  width: 200px;
  font-size: 20px;
  font-weight: 300;
  border: 1px solid #dcdde1;
  padding: 10px;
  position: relative;
  background: #7f8fa6;
  color: #fff;
}

.dropzone {
  border: 1px solid #dcdde1;
  margin-bottom: 40px;
}

.dropzone_box {
  float: left;
  width: 25%;
  height: 160px;
  padding: 10px;
  box-sizing: border-box;
}

.dropzone_box .wrap {
  background: #dcdde1;
  height: 100%;
  text-align: center;
  padding-top: 31px;
  box-sizing: border-box;
  font-size: 49px;
  background-size: contain !important;
  background-position: center center !important;
  border: 1px solid #f7f8f9;
  color: #7f8fa6;
}

.dropzone_box.uploaded_image .wrap svg {
  display: none;
  opacity: 0.7;
  cursor: pointer;
  color: #7f8fa6;
}

.dropzone_box.uploaded_image .wrap:hover svg {
  display: inline-block;
}

.cart_item_title_link {
  text-decoration: underline;
}

.checkout-btn {
  width: 300px;
  padding: 16px;
  background-color: #2980b9;
  text-transform: uppercase;
  color: #fff;
  font-size: 28px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  transition: 300ms;
}

.checkout-btn:hover {
  background-color: #236d9d;
}

.checkout-btn svg {
  font-size: 30px;
  margin-right: 8px;
}

.disabled .bag_link,
.disabled .add_to_cart_link {
  border: 1px solid #dcdcdc;
  color: #c3c0b1;
  background: #d8d8d8;
}

.disabled .bag_link:hover,
.disabled .add_to_cart_link:hover {
  background: #d8d8d8;
  color: #c3c0b1;
}

.by {
  float: left;
  font-size: 14px;
  margin: 10px 4px;
}

.category {
  text-align: right;
  padding-bottom: 8px;
  color: #40404090;
  text-transform: uppercase;
  font-size: 14px;
}
